DATABASE_URL=postgres://imm_admin:imm_cbt_secure_pass_2026_db@postgres-hack-primary-circuit-j3epky:5432/imm_cbt
BETTER_AUTH_SECRET=imm_cbt_secret_key_super_secure_auth_token_2026
BETTER_AUTH_URL=https://imm.frugaldev.biz.id
PORT=3000
AUTO_MIGRATE=true
